<router-outlet></router-outlet>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Definition">
    <div class="wrapper">
      <h1>the Past Continuous</h1>
      <h3>
        The past continuous (also called past progressive) is a verb tense which
        is used to show that an ongoing past action was happening at a specific
        moment of interruption, or that two ongoing actions were happening at
        the same time.
      </h3>
      <p>e.g. The sun <strong>was shining</strong> every day that summer.</p>
      <br /><br />
      <h2>How to Form the Past Continuous</h2>
      <h4>
        The past continuous is made from the past tense of the verb
        <strong>be</strong> and the <strong> –ing form</strong> of a verb.
      </h4>
      <p>
        e.g. <span>She was talking constantly in class in those days.</span>
      </p>
      <p>
        There are many situations in which this verb tense might be used in a
        sentence. For example, it is often used to describe conditions that
        existed in the past.
      </p>
      <p>
        e.g.
        <em>The sun <strong>was shining</strong> every day that summer.</em>
      </p>
      <p>
        It can also be used to describe something that was happening
        continuously in the past when another action interrupted it.
      </p>
      <p>
        <em>I <strong>was making </strong>dinner when she arrived.</em>
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Examples">
    <div class="example-wrapper">
      <p><strong>First-person singular</strong>: I was sleeping</p>

      <p><strong>Second-person singular:</strong> You were sleeping</p>

      <p><strong>Third-person singular:</strong> He/she/it was sleeping</p>

      <p><strong>First-person plural:</strong> We were sleeping</p>

      <p><strong>Second-person plural:</strong> You were sleeping</p>

      <p><strong>Third-person plural: </strong>They were sleeping</p>
    </div>
  </mat-tab>
  <mat-tab label="Lecture">
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/vd0yESrQMs0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe></div
  ></mat-tab>
</mat-tab-group>
