.wrapper {
  margin: 10px 10px;
  text-align: center;
}

.example-wrapper {
  text-align: center;
}

.video-wrapper {
  margin: 20px auto;
  text-align: center;
}
#wrapper {
  height: 100%;
}
.mat-tab-body-content ::ng-deep {
  height: calc(100vh - 118px);
}
