<router-outlet></router-outlet>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Definition">
    <div class="wrapper">
      <h1>the Present Perfect</h1>
      <h3>
        The present perfect tense refers to an action or state that either
        occurred at an indefinite time in the past (e.g., we have talked before)
        or began in the past and continued to the present time (e.g., he has
        grown impatient over the last hour). This tense is formed by have/has +
        the past participle.
      </h3>
      <p>e.g. I <strong>have lived</strong> in Bristol since 1984</p>
      <br /><br />
      <h2>How to Form the Present Perfect</h2>
      <h4>This tense is formed by have/has + the past participle.</h4>
      <p>
        e.g. <span>I <strong>have just finished </strong>my work.</span>
      </p>

      <p>
        e.g.
        <em>I <strong>have worked</strong> hard this week</em>
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Examples">
    <div class="example-wrapper">
      <p><strong>First-person singular</strong>: I have eaten the lasagna</p>

      <p><strong>Second-person singular:</strong> You have eaten the lasagna</p>

      <p>
        <strong>Third-person singular:</strong> He/she/it has eaten the lasagna
      </p>

      <p><strong>First-person plural:</strong> We have eaten the lasagna</p>

      <p><strong>Second-person plural:</strong> You have eaten the lasagna</p>

      <p><strong>Third-person plural: </strong>They have eaten the lasagna</p>
    </div>
  </mat-tab>
  <mat-tab label="Lecture">
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/bTWa5M4UMO8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe></div
  ></mat-tab>
</mat-tab-group>
