.image {
  background-image: url("../assets/img/grammar.jpg");
}
mat-sidenav-container {
  height: fit-content;
}
.mat-tab-body-content ::ng-deep {
  height: calc(100vh - 117px);
}
:host {
  box-sizing: border-box;
  display: block;
  height: 100%;
}
mat-sidenav-container {
  height: 100%;
}

_ngcontent-aoq-c133 ::ng-deep {
  height: 90%;
}
