<router-outlet></router-outlet>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Definition">
    <div class="wrapper">
      <h1>the Past Simple</h1>
      <h3>
        The Past Simple tense, also called the Simple Past, is used for past
        actions that happened either at a specific time, which can either be
        given by a time phrase (yesterday, last year, etc.) or understood from
        the context. Regular Verbs add -ed to the base form, or -d if the verbs
        ends with -e. Irregular verbs can change in many different ways. The
        verb form is the same for all persons:
      </h3>
      <p>
        e.g. <em>John Cabot sail<strong>ed</strong> to America in 1498.</em>
      </p>
      <br /><br />
      <h2>How to Form the Past Simple</h2>
      <p>
        With most verbs, the past tense is formed by adding
        <strong>–ed</strong>.
      </p>
      <p>e.g. <span>called, liked, wanted, worked</span></p>
      <p>
        But there are a lot of irregular past tense forms in English. Here are
        just some of the most common irregular verbs in English, with their past
        tense forms:
      </p>
      <table class="table">
        <tr>
          <td>be</td>
          <td>begin</td>
          <td>break</td>
          <td>feel</td>
          <td>get</td>
          <td>go</td>
          <td>have</td>
          <td>run</td>
          <td>speak</td>
        </tr>
        <tr>
          <td>was</td>
          <td>began</td>
          <td>broke</td>
          <td>felt</td>
          <td>got</td>
          <td>went</td>
          <td>had</td>
          <td>ran</td>
          <td>spoke</td>
        </tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Examples">
    <div class="example-wrapper">
      <p><strong>First-person singular</strong>: I walked</p>

      <p><strong>Second-person singular:</strong> You walked</p>

      <p><strong>Third-person singular:</strong> He/she/it walked</p>

      <p><strong>First-person plural:</strong> We walked</p>

      <p><strong>Second-person plural:</strong> You walked</p>

      <p><strong>Third-person plural: </strong>They walked</p>
    </div>
  </mat-tab>
  <mat-tab label="Lecture">
    <div class="video-wrapper">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dmJrYbDjxQY"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe></div
  ></mat-tab>
</mat-tab-group>
